* {
    font-family: "DejaVu Sans", sans-serif;
    text-align: center;
    margin: 0px 0px 0px 0px;
}
  
p {
    color: limegreen;
    padding-top: 0px;
    padding-bottom: 45px;
}

.links {
    color: white;
    background-color: darkcyan;
    text-decoration: none;
    text-align: right;
    font-size: smaller;
    padding: 10px 10px 10px 0px;
    word-spacing: 20px;
}

.section {
    background-image: url("https://f4.bcbits.com/img/0026467337_0");
    background-size: 1440px 765px;
    padding: 50px 0px 700px 0px;
    background-repeat: no-repeat;
}